.home-template .container {
  padding: 20px;
}

.home-template .content li a {
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
  color: #3979a4;
}

.home-template h1 {
  margin-bottom: 30px;
}

.home-template i {
  font-size: .9em;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnthree {
    width: 100%;
    margin-top: 0;
  }
  .row {
  margin:0 !important;
  }
}
