.one, .two, .three, .four, .five, .six{
    position:absolute;
	margin-top:-10px;
	z-index:1;
	height:30px;
	width:50px;
	border-radius:25px;

}


.one{
	left:15%;
}
.two{
	left:30%;
}
.three{
	left:46%;
}
.four{
	left:62%;
}
.five{
	left:78%;
}
.six{
	left:94%;
}

.primary-color{
	background-color:#4989bd;
}
.success-color{
	background-color:#5cb85c;
}
.danger-color{
	background-color:#d9534f;
}
.reject-color{
	background-color:red;
}
.warning-color{
	background-color:#f0ad4e;
}
.info-color{
	background-color:#5bc0de;
}
.no-color{
	background-color:inherit;
}

.uppercase {
  text-transform: uppercase;
  }

.center_middle {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}