body {
  background: #e1eaf5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  text-align: center;
  color: #363a40;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  text-align: center;
}

.agenda li {
  float:left;
}

.agenda ul {
  float:left;
}

.alert {
  padding: 12px;
  border-radius: 3px;
  font-size: 1.2rem;
  margin-bottom: 16px;
  border-width: 2px;
  border-style: solid;
}

.alert-error {
  border-color: red;
  background-color: red;
  color: white;
}

.alert-info {
  border-color: orange;
  background-color: yellow;
  color: green;
}

.agenda-edit {
  border-color: orange;
  background-color: #d9edf7;
  color: #00008B;
}

.agenda-review {
  border-color: orange;
  background-color: #d9edf7;
  color: #00008B;
}

.agenda-cancel {
  border-color: orange;
  background-color: #d9edf7;
  color: #00008B;
}

.agenda-rate {
  border-color: orange;
  background-color: #d9edf7;
  color: #00008B;
}

.agenda-reject {
  border-color: orange;
  background-color: #d9edf7;
  color: #00008B;
}

.agenda-forum {
  border-color: orange;
  background-color: #d9edf7;
  color: #00008B;
}

.agenda-vote {
  border-color: orange;
  background-color: #d9edf7;
  color: #00008B;
}

.agenda-close {
  border-color: orange;
  background-color: #d9edf7;
  color: #00008B;
}

th {
 padding: 5px;
 border: 1px solid black;
}

.table-border {
 padding: 3px;
 border: 1px solid black;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.columnfour {
  float: left;
  width: 25%;
  padding: 10px;
  border-style: solid;
  border-color: #e6f3fa;
}

/* Create two equal columns that floats next to each other */
.columntwo {
  float: left;
  width: 50%;
  padding: 10px;
  border-style: solid;
  border-color: #d9edf7;
}

/* Create two equal columns that floats next to each other */
.columnone {
  float: left;
  width: 99%;
  padding: 10px;
  border-style: solid;
  border-color: #d9edf7;
  background-color: #e6f3fa;
}

/* Create two equal columns that floats next to each other */
.columnonenobkg {
  float: left;
  width: 99%;
  padding: 10px;
  border-style: solid;
  border-color: #d9edf7;
}

/* Create three equal columns that floats next to each other */
.columnthreebkg {
  float: left;
  width: 33%;
  padding: 10px;
  border-style: solid;
  border-color: #d9edf7;
  background-color: #e6f3fa;
}

/* Create three equal columns that floats next to each other */
.columnthree {
  float: left;
  width: 33%;
  padding: 10px;
  border-style: solid;
  border-color: #d9edf7;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#more {display: none;}

table {
    border-spacing: 2px 2px;
    border-collapse: separate;
    *border-collapse: expression('separate', cellSpacing = '10px');
}

table td
{
    padding: 10px 10px;
}

