{% extends 'layout.jinja2' %}
{% set active_page = "menu_agendas" %}

{% block title %}
Add Agenda
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<center>
<div class="formwrapper" align="left">
  <h2 class="title">Add Agenda</h2>
  <form method="POST" action="">
  {{ form.csrf_token }}
    <div class="form-field">{{ form.title.label }} {{ form.title(size=25) }}
      {% if form.title.errors %}
        <ul class="errors">
          {% for error in form.title.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-field">{{ form.catid.label }}
     <div class="form-field"> {{ form.catid }} </div>
        {% if form.catid.errors %}
        <ul class="errors">
          {% for error in form.catid.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-field">{{ form.desc.label }} {{ form.desc }}
      {% if form.desc.errors %}
        <ul class="errors">
          {% for error in form.desc.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {{ form.submit }}
  </form>
</div>
</center>
{% endblock %}
