{% extends 'layout.jinja2' %}
{% set active_page = "menu_agendas" %}


{% block title %}
List of Agendas
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/milestones.css') }}" type="text/css" />
{% endblock %}

{% block content %}
<div>
  <h2 class="title">List of Agendas</h2>

<div class="containerin">
<form method="GET" action="">
    <div class="row">
      <div class="col-25">
<label for="state">Choose State:</label>
</div>
<div class="col-75" tabindex="0">
<select style="width:50%;" id="state_list" onChange="set_state();">
  <option value="" disabled="disabled" hidden="hidden">choose here</option>
  <option id="state_all" value="all">All</option>
  {% for key, value in (states["result"]).items() %}
      <option value="{{ key }}">{{ value }}</option>
  {% endfor %}
</select>
<input type="hidden" name="state" id="state" value="all" />
      </div>
    </div>

    <div class="row">
      <div class="col-25">
<label for="category">Choose Category:</label>
</div>
<div class="col-75" tabindex="0">
<select style="width:50%;" id="category_list" onChange="set_category();">
  <option value="" disabled="disabled" hidden="hidden">choose here</option>
  <option id="category_all" value="all">All</option>
  {% for category_block in categories['result'] %}
      <option value="{{ category_block['category_id'] }}">id {{ category_block['category_id'] }} - {{ category_block['title'] }}</option>
   {% endfor %}
</select>
<input type="hidden" name="category_id" id="category_id" value="all" />
      </div>
    </div>

    <div class="row">
      <div class="col-25">
<label for="owner">Choose Owner:</label>
</div>
<div class="col-75" tabindex="0">
<select style="width:50%;" id="owner_list" onChange="set_owner();">
  <option value="" disabled="disabled" hidden="hidden">choose here</option>
  <option id="owner_all" value="all">All</option>
  {% for owner_block in owners['result'] %}
   <option value="{{ owner_block['user_id'] }}">{{ owner_block['name'] }} - ID {{ owner_block['user_id'] }}</option>
  {% endfor %}
</select>
<input type="hidden" name="user_id" id="user_id" value="all" />
      </div>
    </div>

    <div class="row">
      <div class="col-25">
&nbsp;
</div>
<div class="col-36">
<input type="submit" value="filter" />
</div>
</div>
</form>
<div>
<label>{{ info['result']|count }} agendas found</label>
</div>
    {% for agenda_block in info['result'] %}

    <div class="container">
      <div class="panel-group">
        <div class="panel panel-info">
          <div class="agenda-{{agenda_block['state']}}">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse{{ agenda_block['agenda_id'] }}">
              <p>(ID {{ agenda_block['agenda_id'] }}) - {{ agenda_block['title'] }}</p>

              <div class="containerin">
    {% if agenda_block['state'] in ("edit") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one warning-color"><font class="center_middle"><b>EDIT</b></font></div>
                <div class="two no-color"><font class="center_middle">REVIEW</font></div>
                <div class="three no-color"><font class="center_middle">RATE</font></div>
                <div class="four no-color"><font class="center_middle">FORUM</font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-warning" style="width: 16%;"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda_block['state'] in ("review") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one warning-color"><font class="center_middle">EDIT</font></div>
                <div class="two warning-color"><font class="center_middle"><b>REVIEW</b></font></div>
                <div class="three no-color"><font class="center_middle">RATE</font></div>
                <div class="four no-color"><font class="center_middle">FORUM</font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-warning" style="width: 33%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda_block['state'] in ("cancel") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one danger-color"><font class="center_middle">EDIT</font></div>
                <div class="two reject-color"><font class="center_middle" style="background-color:red;"><b>REVIEW: CANCEL</b></font></div>
                <div class="three no-color"><font class="center_middle">RATE</font></div>
                <div class="four no-color"><font class="center_middle">FORUM</font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-danger" style="width: 34%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda_block['state'] in ("rate") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one primary-color"><font class="center_middle">EDIT</font></div>
                <div class="two primary-color"><font class="center_middle">REVIEW</font></div>
                <div class="three primary-color"><font class="center_middle"><b>RATE</b></font></div>
                <div class="four no-color"><font class="center_middle">FORUM</font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar" style="width: 49%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda_block['state'] in ("reject") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one danger-color"><font class="center_middle">EDIT</font></div>
                <div class="two danger-color"><font class="center_middle">REVIEW</font></div>
                <div class="three reject-color"><font class="center_middle" style="background-color:red;"><b>RATE: REJECTED</font></b></div>
                <div class="four no-color"><font class="center_middle">FORUM</font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-danger" style="width: 49%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda_block['state'] in ("forum") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one info-color"><font class="center_middle">EDIT</font></div>
                <div class="two info-color"><font class="center_middle">REVIEW</font></div>
                <div class="three info-color"><font class="center_middle">RATE</font></div>
                <div class="four info-color"><font class="center_middle"><b>FORUM</b></font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-info" style="width: 65%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda_block['state'] in ("vote") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one info-color"><font class="center_middle">EDIT</font></div>
                <div class="two info-color"><font class="center_middle">REVIEW</font></div>
                <div class="three info-color"><font class="center_middle">RATE</font></div>
                <div class="four info-color"><font class="center_middle">FORUM</font></div>
                <div class="five info-color"><font class="center_middle"><b>VOTE</b></font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-info" style="width: 81%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda_block['state'] in ("close") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one success-color"><font class="center_middle">EDIT</font></div>
                <div class="two success-color"><font class="center_middle">REVIEW</font></div>
                <div class="three success-color"><font class="center_middle">RATE</font></div>
                <div class="four success-color"><font class="center_middle">FORUM</font></div>
                <div class="five success-color"><font class="center_middle">VOTE</font></div>
                <div class="six success-color"><font class="center_middle"><b>CLOSE</b></font></div>
  			    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}

    {% if agenda_block['state'] not in ("edit", "review", "cancel", "rate", "reject", "forum", "vote", "close") %}
    <div>
    <p>the state for agenda is not correct because state is not in ['edit', 'review', 'cancel', 'rate', 'reject', 'forum', 'vote', 'close']</p>
    </div>
    {% endif %}


              </div>
              </a>
            </h4>

                            <table width="100%">
                <tr>
                <td>
                {% for category_block in categories['result'] %}
                {% if category_block['category_id'] == agenda_block['category_id'] %}
                <b>Category:</b>
                {{ category_block['category_id'] }}-{{ category_block['title'] }}
                {% endif %}
                {% endfor %}
                </td>
                <td>
                <b>Owner:</b> Name: {{ agenda_block['name'] }} (ID: {{ agenda_block['user_id'] }})
                </td>
                <td>
                <b>Created:</b> {{ agenda_block['post_date']|format_datetime('full') }}
                </td>
                </tr>
                </table>

          </div>
          </div>


          <div id="collapse{{ agenda_block['agenda_id'] }}" class="panel-collapse collapse">
            <div class="panel-body">
            <h4>Description</h4>
            {{ agenda_block['desc']|paragraph_resizer(size_to_split=256) }}
            </div>
            <div class="panel-footer">


<br />

    {% if agenda_block['state'] in ("rate") %}
<div>

    {% if agenda_block['agenda_id'] in (report['like']) %}
    You already <b>liked</b> this agenda. Change your mind:
<button id="rate_btn_2" value="You clicked Dislike" onClick="clickedRate({{ agenda_block['agenda_id'] }}, 'false'); show_rate_dislike({{ agenda_block['agenda_id'] }});" width="20px" height="10px"><img src="/static/images/rate_dislike_transp.png" width="50px" height="25px" /></button>
    {% elif agenda_block['agenda_id'] in (report['dislike']) %}
    You already <b>disliked</b> this agenda. Change your mind:
<button id="rate_btn_1" value="You clicked Like" onClick="clickedRate({{ agenda_block['agenda_id'] }}, 'true'); show_rate_like({{ agenda_block['agenda_id'] }});" width="20px" height="10px"><img src="/static/images/rate_like_transp.png" width="50px" height="25px" /></button>
    {% else %}
    Please rate this agenda:
<button id="rate_btn_1" value="You clicked Like" onClick="clickedRate({{ agenda_block['agenda_id'] }}, 'true'); show_rate_like({{ agenda_block['agenda_id'] }});" width="20px" height="10px"><img src="/static/images/rate_like_transp.png" width="50px" height="25px" /></button>
<button id="rate_btn_2" value="You clicked Dislike" onClick="clickedRate({{ agenda_block['agenda_id'] }}, 'false'); show_rate_dislike({{ agenda_block['agenda_id'] }});" width="20px" height="10px"><img src="/static/images/rate_dislike_transp.png" width="50px" height="25px" /></button>
    {% endif %}

</div>
    {% endif %}

<div id="msg{{ agenda_block['agenda_id'] }}"></div>


    {% if agenda_block['state'] in ("vote") %}

    {% if agenda_block['agenda_id'] in (report['voted']) %}
    You already <b>voted</b> this agenda.<br />
    {% if agenda_block['agenda_id'] in (report['yes']) %} You vote was YES {% endif %}
    {% if agenda_block['agenda_id'] in (report['no']) %} You vote was NO {% endif %}
    {% if agenda_block['agenda_id'] in (report['abstain']) %} You vote was ABSTAIN {% endif %}
    {% endif %}

    {% if agenda_block['agenda_id'] not in (report['voted']) %}
    <div>
    Please vote:&nbsp;
<button id="vote_btn_1" value="You voted Yes" onClick="clickedVote({{ agenda_block['agenda_id'] }}, 'yes');" width="20px" height="10px"><img src="/static/images/vote_yes.png" width="30px" height="30px" />&nbsp;&nbsp;YES&nbsp;&nbsp;</button>
<button id="vote_btn_3" value="You voted No" onClick="clickedVote({{ agenda_block['agenda_id'] }}, 'no');" width="20px" height="10px"><img src="/static/images/vote_no.png" width="30px" height="30px" />&nbsp;&nbsp;NO&nbsp;&nbsp;</button>
<button id="vote_btn_2" value="You voted Abstain" onClick="clickedVote({{ agenda_block['agenda_id'] }}, 'abstain');" width="20px" height="10px"><img src="/static/images/vote_abstain.png" width="30px" height="25px" />&nbsp;ABSTAIN&nbsp;</button>
    </div>
    {% endif %}

    {% endif %}

    {% if agenda_block['state'] in ("forum") %}
    <button onClick="location.href='/forum_agenda/{{ agenda_block['agenda_id'] }}'" type="button">Forum page for this agenda</button>
    {% endif %}



                <div class="containerin">

           <div class="panel-body">

<div class="row">
  <div class="columnthreebkg">
        <p><b>Rate</b></p>
  </div>
  <div class="columnthreebkg">
     <p><b>Forum</b></p>
  </div>
  <div class="columnthreebkg">
          <p><b>Vote</b></p>
  </div>
</div>

<div class="row">
  <div class="columnthree">
        <p>Rule match: {{ agenda_block['reports']['rate']['rule_match'] }}</p>
        <p>Total rate: {{ agenda_block['reports']['rate']['total'] }}</p>
        <p>Total likes: {{ agenda_block['reports']['rate']['total_likes'] }}</p>
        <p>Total dislikes: {{ agenda_block['reports']['rate']['total_dislikes'] }}</p>
  </div>
  <div class="columnthree">
     <p>Rule match: {{ agenda_block['reports']['forum']['rule_match'] }}</p>
     <p>Forum participants: {{ agenda_block['reports']['forum']['total_participants'] }}</p>
     <p>Forum comments: {{ agenda_block['reports']['forum']['total_comments'] }}</p>
  </div>
  <div class="columnthree">
           <p>Rule match: {{ agenda_block['reports']['vote']['rule_match'] }}</p>
           <p>Vote total: {{ agenda_block['reports']['vote']['total'] }}</p>
           <p>Vote yes: {{ agenda_block['reports']['vote']['total_yes'] }}</p>
           <p>Vote no: {{ agenda_block['reports']['vote']['total_no'] }}</p>
           <p>Vote abstain: {{ agenda_block['reports']['vote']['total_abstain'] }}</p>
  </div>
</div>

</div>

</div>


<div>
            <form method="GET" action="/putagenda/{{ agenda_block['agenda_id'] }}" style="display: inline">
              <input type="submit" value="Agenda Details">
            </form>
</div>

            </div>
           </div>
          </div>
        </div>
      </div>

  {% endfor %}



</div>


<script type="text/javascript">
function set_state(){
    document.getElementById("state").value = document.getElementById("state_list").value;
    return true;
}
</script>

<script type="text/javascript">
function set_category(){
    document.getElementById("category_id").value = document.getElementById("category_list").value;
    return true;
}
</script>


<script type="text/javascript">
function set_owner(){
    document.getElementById("user_id").value = document.getElementById("owner_list").value;
    return true;
}
</script>


<script type="text/javascript">
 var queryDict = {};
   var params = location.search.substr(1).split("&");
   for(param of params){
   values = param.split("=");
   queryDict[values[0]] = values[1]
   }
</script>



<script type="text/javascript">

$(window).bind("load", function() {
   // update agenda filter boxes using the current url query params
   var query = getCurrentUrlParams();
   if (query.state != ""){
        $("#state_list").val(query.state);
        $("#state").val(query.state);
    }
   if (query.category_id != ""){
        $("#category_list").val(query.category_id);
        $("#category_id").val(query.category_id);
    }
   if (query.user_id != ""){
        $("#owner_list").val(query.user_id);
        $("#user_id").val(query.user_id);
    }

});
</script>


<script type="text/javascript">
function getCurrentUrlParams() {
   var params_str = location.search.substr(1).split("&");
   for(param of params_str){
   values = param.split("=");
   params[values[0]] = values[1];
   }
   return params;
   }
</script>


<script type="text/javascript">
function getCookie(name) {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) return parts.pop().split(';').shift();
}
</script>




<script>
function clickedRate(agenda_id, like) {
    var settings = {
        url: '/' + agenda_id + '/clicked/' + like,
      };
      $.ajax(settings).done(function (response) {

window.location.reload(); window.scrollTo(0, 0);

 });

}
</script>

<script type="text/javascript">
function show_rate_like(agenda_id){
    document.getElementById('msg' + agenda_id).innerHTML= document.getElementById("rate_btn_1").value;
return true;
}
</script>

<script type="text/javascript">
function show_rate_dislike(agenda_id){
    document.getElementById('msg' + agenda_id).innerHTML= document.getElementById("rate_btn_2").value;
return true;
}
</script>




<script>
function clickedVote(agenda_id, vote) {
var result = confirm("Confirm your vote " + vote.toUpperCase() + " for this agenda with id " + agenda_id);
if (result) {
    var settings = {
        url: "/" + agenda_id + "/voted/" + vote,
        "method": "POST",
      };
      $.ajax(settings).done(function (response) {
      if(typeof(response.result) == 'undefined'){
        window.location.reload(); window.scrollTo(0, 0);
      }
else(!alert("PIN code: " + response.result.pin_code + "\n" + response.msg))
{window.location.reload(); window.scrollTo(0, 0);}
     });
    }
}
</script>


<script type="text/javascript">
function show_vote_yes(agenda_id){
    document.getElementById('msg' + agenda_id).innerHTML= document.getElementById("vote_btn_1").value;
return true;
}
</script>

<script type="text/javascript">
function show_vote_abstain(agenda_id){
    document.getElementById('msg' + agenda_id).innerHTML= document.getElementById("vote_btn_2").value;
return true;
}
</script>

<script type="text/javascript">
function show_vote_no(agenda_id){
    document.getElementById('msg' + agenda_id).innerHTML= document.getElementById("vote_btn_3").value;
return true;
}
</script>

<script>
function readMore() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("readMore");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
</script>


{% endblock %}
