{% extends 'layout.jinja2' %}
{% set active_page = "menu_agendas" %}

{% block title %}
Agenda (ID {{agenda["agenda_id"]}})
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/milestones.css') }}" type="text/css" />
{% endblock %}

{% block content %}
<div>
  <h2 class="title">Agenda (ID {{ agenda["agenda_id"] }}): {{ agenda["title"] }}</h2>
   <div class="container">
      <div class="panel-group">
        <div class="panel panel-info">
             <div class="panel-heading">



<br />
    {% if agenda['state'] in ("edit") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one warning-color"><font class="center_middle"><b>EDIT</b></font></div>
                <div class="two no-color"><font class="center_middle">REVIEW</font></div>
                <div class="three no-color"><font class="center_middle">RATE</font></div>
                <div class="four no-color"><font class="center_middle">FORUM</font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-warning" style="width: 16%;"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda['state'] in ("review") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one warning-color"><font class="center_middle">EDIT</font></div>
                <div class="two warning-color"><font class="center_middle"><b>REVIEW</b></font></div>
                <div class="three no-color"><font class="center_middle">RATE</font></div>
                <div class="four no-color"><font class="center_middle">FORUM</font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-warning" style="width: 33%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda['state'] in ("cancel") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one danger-color"><font class="center_middle">EDIT</font></div>
                <div class="two reject-color"><font class="center_middle" style="background-color:red;"><b>REVIEW: CANCEL</b></font></div>
                <div class="three no-color"><font class="center_middle">RATE</font></div>
                <div class="four no-color"><font class="center_middle">FORUM</font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-danger" style="width: 34%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda['state'] in ("rate") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one primary-color"><font class="center_middle">EDIT</font></div>
                <div class="two primary-color"><font class="center_middle">REVIEW</font></div>
                <div class="three primary-color"><font class="center_middle"><b>RATE</b></font></div>
                <div class="four no-color"><font class="center_middle">FORUM</font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar" style="width: 49%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda['state'] in ("reject") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one danger-color"><font class="center_middle">EDIT</font></div>
                <div class="two danger-color"><font class="center_middle">REVIEW</font></div>
                <div class="three reject-color"><font class="center_middle" style="background-color:red;"><b>RATE: REJECTED</font></b></div>
                <div class="four no-color"><font class="center_middle">FORUM</font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-danger" style="width: 49%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda['state'] in ("forum") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one info-color"><font class="center_middle">EDIT</font></div>
                <div class="two info-color"><font class="center_middle">REVIEW</font></div>
                <div class="three info-color"><font class="center_middle">RATE</font></div>
                <div class="four info-color"><font class="center_middle"><b>FORUM</b></font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-info" style="width: 65%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda['state'] in ("vote") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one info-color"><font class="center_middle">EDIT</font></div>
                <div class="two info-color"><font class="center_middle">REVIEW</font></div>
                <div class="three info-color"><font class="center_middle">RATE</font></div>
                <div class="four info-color"><font class="center_middle">FORUM</font></div>
                <div class="five info-color"><font class="center_middle"><b>VOTE</b></font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-info" style="width: 81%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda['state'] in ("close") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one success-color"><font class="center_middle">EDIT</font></div>
                <div class="two success-color"><font class="center_middle">REVIEW</font></div>
                <div class="three success-color"><font class="center_middle">RATE</font></div>
                <div class="four success-color"><font class="center_middle">FORUM</font></div>
                <div class="five success-color"><font class="center_middle">VOTE</font></div>
                <div class="six success-color"><font class="center_middle"><b>CLOSE</b></font></div>
  			    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}

    {% if agenda['state'] not in ("edit", "review", "cancel", "rate", "reject", "forum", "vote", "close") %}
    <div>
    <p>the state for agenda is not correct because state is not in ['edit', 'review', 'cancel', 'rate', 'reject', 'forum', 'vote', 'close']</p>
    </div>
    {% endif %}

                <table width="100%">
                <tr>
                <td>
                {% for category_block in categories['result'] %}
                {% if category_block['category_id'] == agenda['category_id'] %}
                <b>Category:</b>
                {{ category_block['category_id'] }}-{{ category_block['title'] }}
                {% endif %}
                {% endfor %}
                </td>
                <td>
                <b>Owner:</b> Name: {{ agenda['name'] }} (ID: {{ agenda['user_id'] }})
                </td>
                <td>
                <b>Created:</b> {{ agenda['post_date']|format_datetime('full') }}
                </td>
                <td>

{% if current_user['user_id'] == agenda['user_id'] %}

    {% if agenda['state'] not in ("reject", "close") %}

<div>
<br />
<!-- Trigger/Open The Modal -->
<input class="myBtn_multi" id="myBtn_State" type="submit" value="Change state" />

<!-- The Modal -->
<div id="myModal_State" class="modal modal_multi">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close close_multi">&times;</span>
    <div class="formwrapper" align="left">

<form method="POST" action="">
<label for="state">Choose State:</label>
<div>
<select id="state_list" onChange="set_state();">
  <option value="" selected="" disabled="disabled" hidden="hidden">choose here</option>
  {% for key in states["result"] %}
      <option value="{{ key }}">{{ key.capitalize() }}</option>
  {% endfor %}
</select>
</div>
<input type="hidden" name="state" id="state" />
<input type="submit" onClick="changeStateAgenda({{ agenda_id }})" value="Submit" id="btn_change_state" />
</form>
</div>
  </div>

</div>
 </div>

    {% endif %}
    {% endif %}

                </td>
                </tr>
                </table>




             </div>

            <div class="panel-body">
                        <h4>Description</h4>
                        {{ agenda["desc"]|paragraph_resizer(size_to_split=300) }}
            </div>






          <div class="panel-footer">

{% if current_user['user_id'] == agenda['user_id'] %}

    {% if agenda['state'] in ("edit", "review") %}
<table width="100%">
<tr>
<td>
<div>
<br />
<!-- Trigger/Open The Modal -->
<input class="myBtn_multi" id="myBtn_Update" type="submit" value="Update agenda" />

<!-- The Modal -->
<div id="myModal_Update" class="modal modal_multi">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close close_multi">&times;</span>
<div class="formwrapper" align="left">

  <form method="POST" action="">
  {{ form.csrf_token }}
    <div class="form-field">{{ form.title.label }} {{ form.title(size=25) }}
      {% if form.title.errors %}
        <ul class="errors">
          {% for error in form.title.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-field">{{ form.catid.label }}
     <div>{{ form.catid }}</div>
        {% if form.catid.errors %}
        <ul class="errors">
          {% for error in form.catid.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-field">{{ form.desc.label }} {{ form.desc }}
      {% if form.desc.errors %}
        <ul class="errors">
          {% for error in form.desc.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {{ form.submit }}
  </form>
    </div>

</div>

</div>

</td>
<td>

<div>
<br />
<!-- Trigger/Open The Modal -->
<input class="myBtn_multi" id="myBtn_Rules" type="submit" value="Change rules" />

<!-- The Modal -->
<div id="myModal_Rules" class="modal modal_multi">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close close_multi">&times;</span>

<div class="formwrapper" align="left">

  <form method="POST" action="">
  {{ form.csrf_token }}
    <div class="form-field">{{ form_rules.rate_min_num_participants.label }} {{ form_rules.rate_min_num_participants }}
      {% if form_rules.rate_min_num_participants.errors %}
        <ul class="errors">
          {% for error in form_rules.rate_min_num_participants.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-field">{{ form_rules.rate_min_like_persent.label }} {{ form_rules.rate_min_like_persent }}
        {% if form_rules.rate_min_like_persent.errors %}
        <ul class="errors">
          {% for error in form_rules.rate_min_like_persent.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-field">{{ form_rules.forum_min_num_participants.label }} {{ form_rules.forum_min_num_participants }}
      {% if form_rules.forum_min_num_participants.errors %}
        <ul class="errors">
          {% for error in form_rules.forum_min_num_participants.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {{ form_rules.submit }}
  </form>
    </div>

  </div>

</div>

</div>
</td>
</tr>
</table>
    {% endif %}
{% endif %}

    {% if agenda['state'] in ("rate") %}
    <div>

    {% if agenda['agenda_id'] in (report['like']) %}
    You already <b>liked</b> this agenda. Change your mind:
<button id="rate_btn_2" value="You clicked Dislike" onClick="clickedRate({{ agenda['agenda_id'] }}, 'false'); show_rate_dislike({{ agenda['agenda_id'] }});" width="20px" height="10px"><img src="/static/images/rate_dislike_transp.png" width="50px" height="25px" /></button>
    {% elif agenda['agenda_id'] in (report['dislike']) %}
    You already <b>disliked</b> this agenda. Change your mind:
<button id="rate_btn_1" value="You clicked Like" onClick="clickedRate({{ agenda['agenda_id'] }}, 'true'); show_rate_like({{ agenda['agenda_id'] }});" width="20px" height="10px"><img src="/static/images/rate_like_transp.png" width="50px" height="25px" /></button>
    {% else %}
    Please rate this agenda:
<button id="rate_btn_1" value="You clicked Like" onClick="clickedRate({{ agenda['agenda_id'] }}, 'true'); show_rate_like({{ agenda['agenda_id'] }});" width="20px" height="10px"><img src="/static/images/rate_like_transp.png" width="50px" height="25px" /></button>
<button id="rate_btn_2" value="You clicked Dislike" onClick="clickedRate({{ agenda['agenda_id'] }}, 'false'); show_rate_dislike({{ agenda['agenda_id'] }});" width="20px" height="10px"><img src="/static/images/rate_dislike_transp.png" width="50px" height="25px" /></button>
    {% endif %}

    </div>
    {% endif %}
<div id="msg{{ agenda['agenda_id'] }}"></div>

    {% if agenda['state'] in ("vote") %}

    {% if agenda['agenda_id'] in (report['voted']) %}
    You already <b>voted</b> this agenda.<br />
    {% if agenda['agenda_id'] in (report['yes']) %} You vote was YES {% endif %}
    {% if agenda['agenda_id'] in (report['no']) %} You vote was NO {% endif %}
    {% if agenda['agenda_id'] in (report['abstain']) %} You vote was ABSTAIN {% endif %}
    {% endif %}

    {% if agenda['agenda_id'] not in (report['voted']) %}
    <div>
    Please vote:&nbsp;
<button id="vote_btn_1" value="You voted Yes" onClick="clickedVote({{ agenda['agenda_id'] }}, 'yes');" width="20px" height="10px"><img src="/static/images/vote_yes.png" width="30px" height="30px" />&nbsp;&nbsp;YES&nbsp;&nbsp;</button>
<button id="vote_btn_3" value="You voted No" onClick="clickedVote({{ agenda['agenda_id'] }}, 'no');" width="20px" height="10px"><img src="/static/images/vote_no.png" width="30px" height="30px" />&nbsp;&nbsp;NO&nbsp;&nbsp;</button>
<button id="vote_btn_2" value="You voted Abstain" onClick="clickedVote({{ agenda['agenda_id'] }}, 'abstain');" width="20px" height="10px"><img src="/static/images/vote_abstain.png" width="30px" height="25px" />&nbsp;ABSTAIN&nbsp;</button>
    </div>
    {% endif %}

    {% endif %}

    {% if agenda['state'] in ("forum") %}
    <div>
    <button onClick="location.href='/forum_agenda/{{ agenda['agenda_id'] }}'" type="button">Forum page for this agenda</button>
    </div>
    {% endif %}

<div class="containerin">
           <div class="panel-body">
<div class="row">
  <div class="columnonenobkg" style="background-color:#d9edf7;">
    <p><b>Rate Status</b> <small>(Rule match: {{ agenda['reports']['rate']['rule_match'] }})</small></p>
  </div>
  </div>

<div class="row">
  <div class="columnonenobkg" style="background-color:white;">
<div id="piechart"></div>
  <p>Minimum participants: {{ agenda['rules']['rate']['min_number_of_participants'] }}</p>
  <p>Minimum % of likes: {{ agenda['rules']['rate']['rate_like_percent'] }}%</p>
  </div>
  </div>
</div>
</div>


    <div class="containerin">
           <div class="panel-body">
<div class="row">
  <div class="columnonenobkg" style="background-color:#d9edf7;">
    <p><b>Forum Status</b> <small>(Rule match: {{ agenda['reports']['forum']['rule_match'] }})</small></p>
  </div>
  </div>
<div class="row">
  <div class="columnonenobkg" style="background-color:white;">
<div id="barchart_values"></div>
       <p>Minimum participants: {{ agenda['rules']['forum']['min_number_of_participants'] }}</p>
  </div>
  </div>
</div>
</div>


<div class="containerin">
           <div class="panel-body">
<div class="row">
  <div class="columnonenobkg" style="background-color:#d9edf7;">
    <p><b>Vote Status</b> <small>(Rule match: {{ agenda['reports']['vote']['rule_match'] }})</small></p>
  </div>
  </div>

<div class="row">
  <div class="columnonenobkg" style="background-color:white;">
<div id="piechartVote"></div>
     <p>Start date:&emsp;{{ agenda['rules']['vote']['start_date']|format_datetime }}</p>
     <p>End date:&emsp;{{ agenda['rules']['vote']['end_date']|format_datetime }}</p>
  </div>
  </div>
</div>
</div>








</div>
<br />

          </div>

   </div>
    </div>
  </div>
</div>




<div>
<center>
  <button><a href="/agendas">Return to All agendas</a></button>
</center>
</div>




<script type="text/javascript">
$(window).bind("load", function() {
   $("#catid").val({{ catid }});
});
</script>

<script>
function deleteAgenda(agenda_id) {

var result = confirm("Confirm that you are going to delete this agenda with id " + agenda_id);
if (result) {
        var settings = {
        url: '/delete/' + agenda_id,
      };
      $.ajax(settings).done(function (response) {

window.location.reload(); window.scrollTo(0, 0);

 });

    }

window.location.reload(); window.scrollTo(0, 0);

}
</script>

<script>
function changeStateAgenda(agenda_id) {

var to_state = document.getElementById("state").value;

var result = confirm("Confirm change state to " + to_state + " for this agenda with id " + agenda_id);

if (result == true) {

        var settings = {
        url: '/change-state/' + agenda_id + '/' + to_state,
        type: 'PUT',
        async: false,
      };

      $.ajax(settings).done(function (response) {
window.location.reload(); window.scrollTo(0, 0);

 });

    }

window.location.reload(); window.scrollTo(0, 0);

}
</script>


    <script>
        // Get the modal

        var modalparent = document.getElementsByClassName("modal_multi");

        // Get the button that opens the modal

        var modal_btn_multi = document.getElementsByClassName("myBtn_multi");

        // Get the span element that closes the modal
        var span_close_multi = document.getElementsByClassName("close_multi");

        // When the user clicks the button, open the modal
        function setDataIndex() {

            for (i = 0; i < modal_btn_multi.length; i++)
            {
                modal_btn_multi[i].setAttribute('data-index', i);
                modalparent[i].setAttribute('data-index', i);
                span_close_multi[i].setAttribute('data-index', i);
            }
        }



        for (i = 0; i < modal_btn_multi.length; i++)
        {
            modal_btn_multi[i].onclick = function() {
                var ElementIndex = this.getAttribute('data-index');
                modalparent[ElementIndex].style.display = "block";
            };

            // When the user clicks on span (x), close the modal
            span_close_multi[i].onclick = function() {
                var ElementIndex = this.getAttribute('data-index');
                modalparent[ElementIndex].style.display = "none";
            };

        }

        window.onload = function() {

            setDataIndex();
        };

        window.onclick = function(event) {
            if (event.target === modalparent[event.target.getAttribute('data-index')]) {
                modalparent[event.target.getAttribute('data-index')].style.display = "none";
            }


        };




    </script>


<script>
function readMore() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("readMore");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
</script>



<script type="text/javascript">
function set_state(){
    document.getElementById("state").value = document.getElementById("state_list").value;
    return true;
}
</script>



<script>
function clickedRate(agenda_id, like) {
    var settings = {
        url: '/' + agenda_id + '/clicked/' + like,
      };
      $.ajax(settings).done(function (response) {

window.location.reload(); window.scrollTo(0, 0);

 });

}
</script>

<script type="text/javascript">
function show_rate_like(agenda_id){
    document.getElementById('msg' + agenda_id).innerHTML= document.getElementById("rate_btn_1").value;
return true;
}
</script>

<script type="text/javascript">
function show_rate_dislike(agenda_id){
    document.getElementById('msg' + agenda_id).innerHTML= document.getElementById("rate_btn_2").value;
return true;
}
</script>




<script>
function clickedVote(agenda_id, vote) {
var result = confirm("Confirm your vote " + vote.toUpperCase() + " for this agenda with id " + agenda_id);
if (result) {
    var settings = {
        url: "/" + agenda_id + "/voted/" + vote,
        "method": "POST",
      };
      $.ajax(settings).done(function (response) {
      if(typeof(response.result) == 'undefined'){
        window.location.reload(); window.scrollTo(0, 0);
      }
else(!alert("PIN code: " + response.result.pin_code + "\n" + response.msg))
{window.location.reload(); window.scrollTo(0, 0);}
     });
    }
}
</script>


<script type="text/javascript">
function show_vote_yes(agenda_id){
    document.getElementById('msg' + agenda_id).innerHTML= document.getElementById("vote_btn_1").value;
return true;
}
</script>

<script type="text/javascript">
function show_vote_abstain(agenda_id){
    document.getElementById('msg' + agenda_id).innerHTML= document.getElementById("vote_btn_2").value;
return true;
}
</script>

<script type="text/javascript">
function show_vote_no(agenda_id){
    document.getElementById('msg' + agenda_id).innerHTML= document.getElementById("vote_btn_3").value;
return true;
}
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    // VISUALIZATION API AND THE PIE CHART PACKAGE.
    google.charts.load("visualization", "1", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(DrawPieChart);

    function DrawPieChart() {

    var total =  {{ agenda['reports']['rate']['total'] }};

        // DEFINE AN ARRAY OF DATA.
        var likes = {{ agenda['reports']['rate']['total_likes'] }};
        var dislikes = {{ agenda['reports']['rate']['total_dislikes'] }};

if (total != 0) {
        var arrSales =
        [
            ['Participants', 'Number'],
            ['Like (' + likes + ')', likes],
            ['Dislike (' + dislikes + ')', dislikes]
        ];

        // SET CHART OPTIONS.

        var options = {
            title: 'Total Rates: ' + total,
            is3D: false,
            pieSliceText: 'value-and-percentage',
            slices: [{color: 'DarkSeaGreen'}, {color: 'coral'}]
        };
        } else {
                var arrSales =
        [
            ['Participants', 'Number'],
            ['All', 100]
        ];

        // SET CHART OPTIONS.

        var options = {
            title: 'Total Rates: ' + total,
            is3D: false,
            pieSliceTextStyle: {
            color: 'black',
            },
            legend: 'none'
        };
        }

        var figures = google.visualization.arrayToDataTable(arrSales);

        // WHERE TO SHOW THE CHART (DIV ELEMENT).
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        // DRAW THE CHART.
        chart.draw(figures, options);
    }
</script>


<script>
    // VISUALIZATION API AND THE PIE CHART PACKAGE.
    google.charts.load("visualization", "1", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(DrawPieChartVote);

    function DrawPieChartVote() {

    var total =  {{ agenda['reports']['vote']['total'] }};

        // DEFINE AN ARRAY OF DATA.
        var yeses = {{ agenda['reports']['vote']['total_yes'] }};
        var noses = {{ agenda['reports']['vote']['total_no'] }};
        var abstainses = {{ agenda['reports']['vote']['total_abstain'] }};

if (total != 0) {
        var arrSales =
        [
            ['Participants', 'Number'],
            ['Yes (' + yeses + ')', yeses],
            ['No (' + noses + ')', noses],
            ['Abstain (' + abstainses + ')', abstainses]
        ];

        // SET CHART OPTIONS.

        var options = {
            title: 'Total Votes: ' + total,
            is3D: false,
            pieSliceText: 'value-and-percentage',
            slices: [{color: 'green'}, {color: 'red'}, {color: 'orange'}]
        };
        } else {
                var arrSales =
        [
            ['Participants', 'Number'],
            ['All', 100]
        ];

        // SET CHART OPTIONS.

        var options = {
            title: 'Total Votes: ' + total,
            is3D: false,
            pieSliceTextStyle: {
            color: 'black',
            },
            legend: 'none'
        };
        }

        var figures = google.visualization.arrayToDataTable(arrSales);

        // WHERE TO SHOW THE CHART (DIV ELEMENT).
        var chart = new google.visualization.PieChart(document.getElementById('piechartVote'));

        // DRAW THE CHART.
        chart.draw(figures, options);
    }
</script>


   <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Style", "Number", { role: "style" } ],
        ["Actual", {{ agenda['reports']['forum']['total_participants'] }}, "blue"],
        ["Expected", {{ agenda['rules']['forum']['min_number_of_participants'] }}, "green"]
      ]);


      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Forum number of participants",
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
        vAxis: {
            format: '0'
    },
        hAxis: {
            format: '0'
    }
    };
      var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
      chart.draw(view, options);
  }
  </script>



{% endblock %}
