{% extends 'agenda_detail.jinja2' %}


    {% if agenda_block['state'] in ("edit") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one warning-color"><font class="center_middle"><b>EDIT</b></font></div>
                <div class="two no-color"><font class="center_middle">REVIEW</font></div>
                <div class="three no-color"><font class="center_middle">RATE</font></div>
                <div class="four no-color"><font class="center_middle">FORUM</font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-warning" style="width: 16%;"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda_block['state'] in ("review") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one warning-color"><font class="center_middle">EDIT</font></div>
                <div class="two warning-color"><font class="center_middle"><b>REVIEW</b></font></div>
                <div class="three no-color"><font class="center_middle">RATE</font></div>
                <div class="four no-color"><font class="center_middle">FORUM</font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-warning" style="width: 33%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda_block['state'] in ("cancel") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one danger-color"><font class="center_middle">EDIT</font></div>
                <div class="two reject-color"><font class="center_middle" style="background-color:red;"><b>REVIEW: CANCEL</b></font></div>
                <div class="three no-color"><font class="center_middle">RATE</font></div>
                <div class="four no-color"><font class="center_middle">FORUM</font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-danger" style="width: 34%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda_block['state'] in ("rate") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one primary-color"><font class="center_middle">EDIT</font></div>
                <div class="two primary-color"><font class="center_middle">REVIEW</font></div>
                <div class="three primary-color"><font class="center_middle"><b>RATE</b></font></div>
                <div class="four no-color"><font class="center_middle">FORUM</font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar" style="width: 49%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda_block['state'] in ("reject") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one danger-color"><font class="center_middle">EDIT</font></div>
                <div class="two danger-color"><font class="center_middle">REVIEW</font></div>
                <div class="three reject-color"><font class="center_middle" style="background-color:red;"><b>RATE: REJECTED</font></b></div>
                <div class="four no-color"><font class="center_middle">FORUM</font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-danger" style="width: 49%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda_block['state'] in ("forum") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one info-color"><font class="center_middle">EDIT</font></div>
                <div class="two info-color"><font class="center_middle">REVIEW</font></div>
                <div class="three info-color"><font class="center_middle">RATE</font></div>
                <div class="four info-color"><font class="center_middle"><b>FORUM</b></font></div>
                <div class="five no-color"><font class="center_middle">VOTE</font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-info" style="width: 65%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda_block['state'] in ("vote") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one info-color"><font class="center_middle">EDIT</font></div>
                <div class="two info-color"><font class="center_middle">REVIEW</font></div>
                <div class="three info-color"><font class="center_middle">RATE</font></div>
                <div class="four info-color"><font class="center_middle">FORUM</font></div>
                <div class="five info-color"><font class="center_middle"><b>VOTE</b></font></div>
                <div class="six no-color"><font class="center_middle">CLOSE</font></div>
  			    <div class="progress-bar progress-bar-info" style="width: 81%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}
    {% if agenda_block['state'] in ("close") %}
	<div class="row"><br />
		<div class="col-md-12">
    	    <div class="progress" style="height: 8px;">
                <div class="one success-color"><font class="center_middle">EDIT</font></div>
                <div class="two success-color"><font class="center_middle">REVIEW</font></div>
                <div class="three success-color"><font class="center_middle">RATE</font></div>
                <div class="four success-color"><font class="center_middle">FORUM</font></div>
                <div class="five success-color"><font class="center_middle">VOTE</font></div>
                <div class="six success-color"><font class="center_middle"><b>CLOSE</b></font></div>
  			    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
		    </div>
	    </div>
    </div>
    {% endif %}

    {% if agenda_block['state'] not in ("edit", "review", "cancel", "rate", "reject", "forum", "vote", "close") %}
    <div>
    <p>the state for agenda is not correct because state is not in ['edit', 'review', 'cancel', 'rate', 'reject', 'forum', 'vote', 'close']</p>
    </div>
    {% endif %}
