{% extends 'layout.jinja2' %}
{% set active_page = "menu_categories" %}

{% block title %}
List of Categories
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div>
  <h2 class="title">List of Categories</h2>

  <label>{{ info['result']|count }} categories found</label>

    {% for cat_block in info['result'] %}

    <div class="container">
      <div class="panel-group">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse{{ cat_block['category_id'] }}">{{ cat_block['category_id'] }}: {{ cat_block['title'] }} <small>({{ cat_block['reports']['total'] }} agendas)</small>
              </a>
            </h4>
          </div>

      <div id="collapse{{ cat_block['category_id'] }}" class="panel-collapse collapse">

            <div class="panel-body">
                        <h4>Description</h4>
            {{ cat_block['desc']|paragraph_resizer(size_to_split=180) }}
            </div>


            <div class="panel-footer">
<div class="containerin">

    <div class="row">
          <div class="columnthreebkg" style="border-color: #e6f3fa;">
                Report on: {{ cat_block['reports']['post_date']|format_datetime }}
          </div>
          <div class="columnthreebkg" style="border-color: #e6f3fa;"></div>
          <div class="columnthreebkg" style="border-color: #e6f3fa;"></div>
    </div>
    <div class="row">
          <div class="columnthree">
                               <p>Total Agendas: {{ cat_block['reports']['total'] }}</p>
                               <p>Agendas in Rate: {{ cat_block['reports']['rate'] }}</p>
                               <p>Agendas in Cancel: {{ cat_block['reports']['cancel'] }}</p>
          </div>
          <div class="columnthree">
                               <p>Agendas in Edit: {{ cat_block['reports']['edit'] }}</p>
                               <p>Agendas in Forum: {{ cat_block['reports']['forum'] }}</p>
                               <p>Agendas in Reject: {{ cat_block['reports']['reject'] }}</p>
          </div>
          <div class="columnthree">
                               <p>Agendas in Review: {{ cat_block['reports']['review'] }}</p>
                               <p>Agendas in Vote: {{ cat_block['reports']['vote'] }}</p>
                               <p>Agendas in Close: {{ cat_block['reports']['close'] }}</p>
          </div>
    </div>

</div>
            <small>
             <b>Created by:</b> ID: {{ cat_block['user_id'] }} Name: {{ cat_block['name'] }}
             <b>on:</b> {{ cat_block['post_date']|format_datetime('full') }}
            </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

</div>
{% endblock %}
