{% extends 'layout.jinja2' %}
{% set active_page = "menu_agendas" %}

{% block title %}
Forum Page for Agenda
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div>
{% if all == False %}
  <h2 class="title">Forum Page for Agenda ID {{ agenda['result']['agenda_id'] }}: {{ agenda['result']['title'] }} </h2>
{% else %}
  <h2 class="title">Forum Page for Agendas</h2>
{% endif %}
{% if report['result'] != [] %}
    {% for forum_block in report['result'] %}
    <div class="container">
      <div class="panel-group">
        <div class="panel panel-info">
          <div class="panel-heading">
          {% if all == True %}
          <h6 class="panel-title">Agenda ID {{ forum_block['agenda_id'] }}</h6>
          {% endif %}
            <font style="color:rgba{{ forum_block['user_id']|get_rgba() }}">
            USER {{ forum_block['user_id'] }} - {{ forum_block['name'] }} posted on {{ forum_block['post_date']|format_datetime('full') }}
            </font>
          </div>
          <div>
            <div class="panel-body">
            {{ forum_block['comment'] }}
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endfor %}
{% else %}
<div>
<p>
    There is no comments yet<br />
</p>
</div>
{% endif %}

{% if all == False %}

<div align="left">
  <form method="POST" action="">
  {{ form.csrf_token }}
    <div class="form-field">{{ form.comment.label }} {{ form.comment }}
      {% if form.comment.errors %}
        <ul class="errors">
          {% for error in form.comment.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {{ form.submit }}
  </form>
</div>

<div>
<center>
<br /> <br />
  <p><a href="/agendas"><button>Return on List of Agendas</button></a></p>
</center>
</div>

{% endif %}

</div>


<script type="text/javascript">
$(window).bind("load", function() {
    $('input[type="text"], textarea').val('');
    window.scrollTo(0,document.body.scrollHeight);
});
</script>



{% endblock %}
