{% extends 'layout.jinja2' %}
{% set active_page = "menu_index" %}

{% block title %}
Agenda App
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" type="text/css" />
{% endblock %}

{% block content %}
<h1>Welcome to Agenda Application</h1><h6>(2017-02-14 20:00)</h6>
{% if current_user == "" %}
  <h3 class="title">Would you like to <a href="{{ url_for('signin') }}">sign in</a>?</h3>
<div class="row">
  <div class="columnonenobkg" style="border-style: none;">
<ul class="content">
  <li><a href="{{ url_for('categories') }}">All Categories</a></li>
  <li><a href="{{ url_for('addagenda') }}">New Agenda</a></li>
  <li><a href="{{ url_for('agendas') }}">All Agendas</a></li>
  <li><a href="{{ url_for('forum_agendas') }}">Forum of Agendas</a></li>
</ul>
</div>
</div>

{% else %}
  <h3 class="title">Hello {{ current_user['name'] }} </h3>

{% if current_user['access'] == "admin" %}
<div class="row">
  <div class="columntwo" style="border-style: none;">

{% else %}
<div class="row">
  <div class="columnonenobkg" style="border-style: none;">

{% endif %}

<ul class="content">
  <li><a href="{{ url_for('categories') }}">All Categories</a></li>
  <li><a href="{{ url_for('addagenda') }}">New Agenda</a></li>
  <li><a href="{{ url_for('agendas') }}">All Agendas</a></li>
  <li><a href="{{ url_for('forum_agendas') }}">Forum of Agendas</a></li>
</ul>
{% if current_user['access'] != "admin" %}
</div>
{% endif %}
</div>

{% if current_user['access'] == "admin" %}
  <div class="columntwo" style="border-style: none;">
<ul class="content">
  <li><a href="{{ url_for('addcategory') }}">New Category</a></li>
  <li><a href="{{ url_for('user_profiles') }}">User profiles</a></li>
  <li><a href="{{ url_for('update_agendas_reports') }}">Update agendas reports</a></li>
  <li><a href="{{ url_for('update_categories_reports') }}">Update categories reports</a></li>
</ul>
</div>
</div>
{% endif %}
{% endif %}





<div class="containerin">
<div class="panel-body">
    <div class="row">
        <div class="columnthree" style="background-color:white;">
            <div id="piechart_agendas"></div>
        </div>

        <div class="columnthree" style="background-color:white;">
            <div id="piechart_agendas_rated"></div>
<ul class="content">
  <li><b>All commented agendas</b>: {{ dashboard_report['commented']|count }}</li>
  <li><b>All comments</b>: {{ dashboard_report['total_comments'] }}</li>
</ul>
        </div>

        <div class="columnthree" style="background-color:white;">
            <div id="piechart_agendas_voted"></div>
        </div>
    </div>
</div>
</div>


{% if current_user != "" %}

<div class="containerin">
<div class="panel-body">
    <div class="row">
        <div class="columnthree" style="background-color:white;">
            <div id="piechart"></div>
        </div>

        <div class="columnthree" style="background-color:white;">
            <div id="piechart_rated"></div>
            <ul class="content">
  <li><b>My commented agendas</b>: {{ user_report['commented']|count }}</li>
  <li><b>My total comments</b>: {{ user_report['total_comments'] }}</li>
</ul>
        </div>

        <div class="columnthree" style="background-color:white;">
            <div id="piechart_voted"></div>
        </div>
    </div>
</div>
</div>

{% endif %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script>
    // VISUALIZATION API AND THE PIE CHART PACKAGE.
    google.charts.load("visualization", "1", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(DrawPieChart);

    function DrawPieChart() {
            console.log('anna');
        var total = 0;
console.log({{ user_report }} !== undefined);

if (typeof ({{ user_report }}) !== undefined) {
            console.log('solomon');
            console.log({{ user_report }});
            total =  {{ user_report['owned']['agendas']|count }};
            console.log(total);
        } else {
        total = 0;
        }

        // DEFINE AN ARRAY OF DATA.
        var edit = {{ user_report['owned']['edit']|count }};
        var review = {{ user_report['owned']['review']|count }};
        var cancel = {{ user_report['owned']['cancel']|count }};
        var rate = {{ user_report['owned']['rate']|count }};
        var reject = {{ user_report['owned']['reject']|count }};
        var forum = {{ user_report['owned']['forum']|count }};
        var vote = {{ user_report['owned']['vote']|count }};
        var close = {{ user_report['owned']['close']|count }};

if (total != 0) {
        var arrSales =
        [
            ['State', 'Count'],
            ['Edit (' + edit + ')', edit],
            ['Review (' + review + ')', review],
            ['Cancel (' + cancel + ')', cancel],
            ['Rate (' + rate + ')', rate],
            ['Reject (' + reject + ')', reject],
            ['Forum (' + forum + ')', forum],
            ['Vote (' + vote + ')', vote],
            ['Close (' + close + ')', close]
        ];

        // SET CHART OPTIONS.

        var options = {
            title: 'My agendas: ' + total,
            is3D: false,
            pieHole: 0.2,
            pieSliceText: 'value-and-percentage',
            slices: [{color: 'yellow'}, {color: 'orange'}, {color: 'brown'},
            {color: 'skyblue'}, {color: 'red'}, {color: 'blue'},
            {color: 'navy'}, {color: 'green'}]

        };
        } else {
                var arrSales =
        [
            ['Participants', 'Number'],
            ['All', {{ user_report['owned']['edit']|count }}]
        ];

        // SET CHART OPTIONS

        var options = {
            title: 'My agendas: ' + {{ user_report['owned']['edit']|count }},
            is3D: false,
            pieHole: 0.2,
            pieSliceTextStyle: {
            color: 'black',
            },
            legend: 'none'
        };
        }

        var figures = google.visualization.arrayToDataTable(arrSales);

        try {
        // WHERE TO SHOW THE CHART (DIV ELEMENT).
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        // DRAW THE CHART.
        chart.draw(figures, options);
                } catch(err) {
          console.log(err.message + ' for element piechart');
        }
    }
</script>



<script>
    // VISUALIZATION API AND THE PIE CHART PACKAGE: rated
    google.charts.load("visualization", "1", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(DrawPieChart);

    function DrawPieChart() {
var total = 0;
var likes = 0;
var dislikes = 0;

try {
    total =  {{ user_report['rated']|count }};

        // DEFINE AN ARRAY OF DATA.
        likes = {{ user_report['like']|count }};
        dislikes = {{ user_report['dislike']|count }};
        } catch(err) {
            message.innerHTML = "Input is " + err;
        }

if (total != 0) {
        var arrSales =
        [
            ['Status', 'Count'],
            ['Like (' + likes + ')', likes],
            ['Dislike (' + dislikes + ')', dislikes]
        ];

        // SET CHART OPTIONS.

        var options = {
            title: 'My rates: ' + total,
            is3D: false,
            pieHole: 0.2,
            pieSliceText: 'value-and-percentage',
            slices: [{color: 'DarkSeaGreen'}, {color: 'coral'}]
        };
        } else {
                var arrSales =
        [
            ['Participants', 'Number'],
            ['All', {{ user_report['rated']|count }}]
        ];

        // SET CHART OPTIONS

        var options = {
            title: 'My rates: ' + total,
            is3D: false,
            pieHole: 0.2,
            pieSliceTextStyle: {
            color: 'black',
            },
            legend: 'none'
        };
        }

        var figures = google.visualization.arrayToDataTable(arrSales);


        try {
            // WHERE TO SHOW THE CHART (DIV ELEMENT).
            var chart = new google.visualization.PieChart(document.getElementById('piechart_rated'));
            // DRAW THE CHART.
            chart.draw(figures, options);
        } catch(err) {
          console.log(err.message + ' for element piechart_rated');
        }

    }
</script>

<script>
    // VISUALIZATION API AND THE PIE CHART PACKAGE: voted
    google.charts.load("visualization", "1", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(DrawPieChart);

    function DrawPieChart() {
var total = 0;
var yes = 0;
var no = 0;
var abstain =0;

try {
    total =  {{ user_report['voted']|count }};

        // DEFINE AN ARRAY OF DATA.
        yes = {{ user_report['yes']|count }};
        no = {{ user_report['no']|count }};
        abstain = {{ user_report['abstain']|count }};
        } catch(err) {
            message.innerHTML = "Input is " + err;
        }

if (total != 0) {
        var arrSales =
        [
            ['Status', 'Count'],
            ['Yes (' + yes + ')', yes],
            ['No (' + no + ')', no],
            ['Abstain (' + abstain + ')', abstain]
        ];

        // SET CHART OPTIONS.

        var options = {
            title: 'My votes: ' + total,
            pieHole: 0.2,
            is3D: false,
            pieSliceText: 'value-and-percentage',
            slices: [{color: 'green'}, {color: 'red'}, {color: 'orange'}]
        };
        } else {
                var arrSales =
        [
            ['Participants', 'Number'],
            ['All', {{ user_report['voted']|count }}]
        ];

        // SET CHART OPTIONS

        var options = {
            title: 'My votes: ' + total,
            is3D: false,
            pieHole: 0.2,
            pieSliceTextStyle: {
            color: 'black',
            },
            legend: 'none'
        };
        }

        var figures = google.visualization.arrayToDataTable(arrSales);

        try {
        // WHERE TO SHOW THE CHART (DIV ELEMENT).
        var chart = new google.visualization.PieChart(document.getElementById('piechart_voted'));

        // DRAW THE CHART.
        chart.draw(figures, options);
                } catch(err) {
          console.log(err.message + ' for element piechart_voted');
        }
    }
</script>











<script>
    // VISUALIZATION API AND THE PIE CHART PACKAGE.
    google.charts.load("visualization", "1", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(DrawPieChart);

    function DrawPieChart() {

    var total =  {{ dashboard_report['owned']['agendas']|count }};

        // DEFINE AN ARRAY OF DATA.
        var edit = {{ dashboard_report['owned']['edit']|count }};
        var review = {{ dashboard_report['owned']['review']|count }};
        var cancel = {{ dashboard_report['owned']['cancel']|count }};
        var rate = {{ dashboard_report['owned']['rate']|count }};
        var reject = {{ dashboard_report['owned']['reject']|count }};
        var forum = {{ dashboard_report['owned']['forum']|count }};
        var vote = {{ dashboard_report['owned']['vote']|count }};
        var close = {{ dashboard_report['owned']['close']|count }};

if (total != 0) {
        var arrSales =
        [
            ['State', 'Count'],
            ['Edit (' + edit + ')', edit],
            ['Review (' + review + ')', review],
            ['Cancel (' + cancel + ')', cancel],
            ['Rate (' + rate + ')', rate],
            ['Reject (' + reject + ')', reject],
            ['Forum (' + forum + ')', forum],
            ['Vote (' + vote + ')', vote],
            ['Close (' + close + ')', close]
        ];

        // SET CHART OPTIONS.

        var options = {
            title: 'All agendas: ' + total,
            is3D: false,
            pieSliceText: 'value-and-percentage',
            slices: [{color: 'yellow'}, {color: 'orange'}, {color: 'brown'},
            {color: 'skyblue'}, {color: 'red'}, {color: 'blue'},
            {color: 'navy'}, {color: 'green'}]
        };
        } else {
                var arrSales =
        [
            ['Participants', 'Number'],
            ['All', {{ dashboard_report['owned']['agendas']|count }}]
        ];

        // SET CHART OPTIONS

        var options = {
            title: 'All agendas: ' + total,
            is3D: false,
            pieSliceTextStyle: {
            color: 'black',
            },
            legend: 'none'
        };
        }

        var figures = google.visualization.arrayToDataTable(arrSales);

        // WHERE TO SHOW THE CHART (DIV ELEMENT).
        var chart = new google.visualization.PieChart(document.getElementById('piechart_agendas'));

        // DRAW THE CHART.
        chart.draw(figures, options);
    }
</script>



<script>
    // VISUALIZATION API AND THE PIE CHART PACKAGE: rated
    google.charts.load("visualization", "1", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(DrawPieChart);

    function DrawPieChart() {

    var total =  {{ dashboard_report['rated']|count }};

        // DEFINE AN ARRAY OF DATA.
        var likes = {{ dashboard_report['like']|count }};
        var dislikes = {{ dashboard_report['dislike']|count }};

if (total != 0) {
        var arrSales =
        [
            ['Status', 'Count'],
            ['Like (' + likes + ')', likes],
            ['Dislike (' + dislikes + ')', dislikes]
        ];

        // SET CHART OPTIONS.

        var options = {
            title: 'All rates: ' + total,
            is3D: false,
            pieSliceText: 'value-and-percentage',
            slices: [{color: 'DarkSeaGreen'}, {color: 'coral'}]
        };
        } else {
                var arrSales =
        [
            ['Participants', 'Number'],
            ['All', {{ dashboard_report['rated']|count }}]
        ];

        // SET CHART OPTIONS

        var options = {
            title: 'All rates: ' + total,
            is3D: false,
            pieSliceTextStyle: {
            color: 'black',
            },
            legend: 'none'
        };
        }

        var figures = google.visualization.arrayToDataTable(arrSales);

        // WHERE TO SHOW THE CHART (DIV ELEMENT).
        var chart = new google.visualization.PieChart(document.getElementById('piechart_agendas_rated'));

        // DRAW THE CHART.
        chart.draw(figures, options);
    }
</script>

<script>
    // VISUALIZATION API AND THE PIE CHART PACKAGE: voted
    google.charts.load("visualization", "1", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(DrawPieChart);

    function DrawPieChart() {

    var total =  {{ dashboard_report['voted']|count }};

        // DEFINE AN ARRAY OF DATA.
        var yes = {{ dashboard_report['yes']|count }};
        var no = {{ dashboard_report['no']|count }};
        var abstain = {{ dashboard_report['abstain']|count }};

if (total != 0) {
        var arrSales =
        [
            ['Status', 'Count'],
            ['Yes (' + yes + ')', yes],
            ['No (' + no + ')', no],
            ['Abstain (' + abstain + ')', abstain]
        ];

        // SET CHART OPTIONS.

        var options = {
            title: 'All votes: ' + total,
            is3D: false,
            pieSliceText: 'value-and-percentage',
            slices: [{color: 'green'}, {color: 'red'}, {color: 'orange'}]

        };
        } else {
                var arrSales =
        [
            ['Participants', 'Number'],
            ['All', {{ dashboard_report['voted']|count }}]
        ];

        // SET CHART OPTIONS

        var options = {
            title: 'All votes: ' + total,
            is3D: false,
            pieSliceTextStyle: {
            color: 'black',
            },
            legend: 'none'
        };
        }

        var figures = google.visualization.arrayToDataTable(arrSales);

        // WHERE TO SHOW THE CHART (DIV ELEMENT).
        var chart = new google.visualization.PieChart(document.getElementById('piechart_agendas_voted'));

        // DRAW THE CHART.
        chart.draw(figures, options);
    }
</script>




{% endblock %}
