<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{% block title %}{% endblock %}</title>
  <meta name="HandheldFriendly" content="True"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <meta name="theme-color" content="#5eb9d7"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='../static/images/favicon.png') }}" type="image/x-icon"/>
  {% block styles %}{% endblock %}
  <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}" type="text/css" />
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,500" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body class="{{ template }}">

{% for category, message in get_flashed_messages(with_categories=True) %}
  <div id="banner" class="alert alert-{{category}}">{{category}}: {{ message }}</div>
{% endfor %}

<div class="container" >
<nav id="myTopnav" wmode="transparent">
    <ul id="nav">
        <li>
        <a href="/" class="{{ 'active' if active_page == 'menu_index' else '' }}">Home</a>
        </li>
        <li>
            <a href="#" class="{{ 'active' if active_page == 'menu_categories' else '' }}">Category <i class="fa fa-caret-down"></i></a>
            <ul style="z-index: 2;">
                <li><a href="{{ url_for('addcategory') }}">New category</a></li>
                <li><a href="{{ url_for('categories') }}">All categories</a></li>
            </ul>
        </li>
        <li>
            <a href="#"  class="{{ 'active' if active_page == 'menu_agendas' else '' }}">Agenda <i class="fa fa-caret-down"></i></a>
            <ul style="z-index: 2;">
                <li><a href="{{ url_for('addagenda') }}">New agenda</a></li>
                <li><a href="{{ url_for('agendas') }}">All agendas</a></li>
                <li><a href="{{ url_for('forum_agendas') }}">All forum</a></li>
            </ul>
        </li>
        <li>
        <a href="{{ url_for('user_profile') }}" class="{{ 'active' if active_page == 'menu_profile' else '' }}">Profile</a>
        </li>
        <li>

        {% if request.cookies.get('Bearer', None) != None %}
        <a href="{{ url_for('signout') }}" }}">Sign out</a>
        {% else %}
        <a href="{{ url_for('signin') }}" class="{{ 'active' if active_page == 'menu_signin' else '' }}">Sign in</a>
        {% endif %}

        </li>
    </ul>
</nav>
</div>

<div>
<center><img src="../static/images/agenda_logo.png" loading="lazy" alt="ico" width="100" height="100"></center>
</div>

<div class="container">
  {% block content %}{% endblock %}
</div>
<div>
<center>
  <br />
  <button><a href="/">BACK HOME</a></button>
</center>
</div>
<br />
<div>
<center>
<p> Copyright {{ company() }} 2017 - {{ date_now("%Y") }} </p>
<p> Contact us | (US) (301) 792-9864 | contact@habeshaschool.com </p>
</center>
</div>

{% if cookies_check() %}
        {# then user has already consented so no requirement for consent banner #}
{% else %}
        {# show a cookie consent banner #}
        <div id="cookie-consent-container">
            <button id="cookie-consent">I accept that this website uses cookies</button>
        </div>
        <script>
            var fn = function () {
                document.cookie = "cookie_consent=true";
                document.getElementById('cookie-consent-container').hidden = true;
            };
            document.getElementById('cookie-consent').onclick = fn;
        </script>
{% endif %}

{% include 'analytics.jinja2' %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script type="text/javascript">
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

</body>

</html>
