{% extends 'layout.jinja2' %}
{% set active_page = "menu_index" %}

{% block title %}
Agenda Page not found
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/success.css') }}" type="text/css" />
{% endblock %}

{% block content %}
<div class="success-wrapper">
  <p>PAGE NOT FOUND</p>
</div>
{% endblock %}
