{% extends 'layout.jinja2' %}
{% set active_page = "menu_signin" %}

{% block title %}
Signin Agenda
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<center>
<div class="formwrapper" align="left">
  <h2 class="title">Sign In</h2>
  <form method="POST" action="">
  {{ form.csrf_token }}
      <div class="form-field">{{ form.email.label }} {{ form.email }}
        {% if form.email.errors %}
          <ul class="errors">
            {% for error in form.email.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.password.label }} {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      {{ form.submit }}
  </form>
</div>

<div>
  <h3><a href="{{ url_for('signup') }}">Create new account</a></h3>
</div>

</center>
{% endblock %}
