{% extends 'layout.jinja2' %}
{% set active_page = "menu_signin" %}

{% block title %}
Signup Agenda
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<center>
<div class="formwrapper" align="left">
  <h2 class="title">Sign Up</h2>
  <form method="POST" action="">
  {{ form.csrf_token }}
      <div class="form-field">{{ form.email.label }} {{ form.email }}
        {% if form.email.errors %}
          <ul class="errors">
            {% for error in form.email.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.password.label }} {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.confirmPassword.label }} {{ form.confirmPassword }}
        {% if form.confirmPassword.errors %}
          <ul class="errors">
            {% for error in form.confirmPassword.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.country_code.label }} {{ form.country_code }}
        {% if form.country_code.errors %}
          <ul class="errors">
            {% for error in form.country_code.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.phone.label }} {{ form.phone }}
        {% if form.phone.errors %}
          <ul class="errors">
            {% for error in form.phone.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.name.label }} {{ form.name }}
        {% if form.name.errors %}
          <ul class="errors">
            {% for error in form.name.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      {{ form.submit }}
  </form>
</div>
</center>



{% endblock %}
