{% extends 'layout.jinja2' %}
{% set active_page = "menu_profile" %}

{% block title %}
User Profile
{% endblock %}

{% block content %}

<div class="user-profile">
  <div class="page-header">
    <h2>User Profile</h2>
  </div>

  {% for user_block in info['result'] %}

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Email Address</div>
        <div class="panel-body">{{ user_block['email'] }}</div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">Information</div>
        <div class="panel-body">User ID: {{ user_block['user_id'] }}</div>
        <div class="panel-body">User name: {{ user_block['name'] }}</div>
        <div class="panel-body">Phone: {{ user_block['phone'] }}</div>
        <div class="panel-body">Access: {{ user_block['access'] }}</div>
        <div class="panel-body">Registered since: {{ user_block['post_date']|format_datetime }}</div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">Account Actions</div>
        <div class="panel-body"><a href="#">Change Email</a></div>
        <div class="panel-body"><a href="#">Change Password</a></div>
        <div class="panel-body"><a href="#">Logout</a></div>
   </div>
<hr>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
