{% extends 'layout.jinja2' %}
{% set active_page = "menu_profile" %}

{% block title %}
User Report
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div>
  <h2 class="title">User Report</h2>
  <h2 class="title">User Report _ liked agendas</h2>
    {% for like_block in report['like'] %}
    <div class="container">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              {{ like_block['like'] }}
            </h4>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <h2 class="title">User Report _ disliked agendas</h2>
    {% for dislike_block in report['dislike'] %}
    <div class="container">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              {{ dislike_block['dislike'] }}
            </h4>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <h2 class="title">User Report _ voted agendas</h2>
    {% for vote_block in report['agendas'] %}
    <div class="container">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              {{ vote_block['agendas'] }}
            </h4>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

</div>
{% endblock %}
