{% extends 'layout.jinja2' %}
{% set active_page = "menu_profile" %}


{% block title %}
User Profile
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

{% if user_info != "" %}

<div class="user-profile">
  <div>
    <h2 class="title">User Profile</h2>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Email Address</div>
        <div class="panel-body">{{ user_info['email'] }}</div>
        <div class="containerin">
<!-- Trigger/Open The Modal -->
<input class="myBtn_multi" id="myBtn_Email" type="submit" value="Change my email" />

<!-- The Modal -->
<div id="myModal_Email" class="modal modal_multi">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close close_multi">&times;</span>

<div class="formwrapper" align="left">

  <form method="POST" action="">
    <div class="form-field">{{ form_email.email.label }} {{ form_email.email }}
      {% if form_email.email.errors %}
        <ul class="errors">
          {% for error in form_email.email.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-field">{{ form_email.confirmEmail.label }} {{ form_email.confirmEmail }}
      {% if form_email.confirmEmail.errors %}
        <ul class="errors">
          {% for error in form_email.confirmEmail.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {{ form_email.submitEmail }}
  </form>
    </div>

  </div>

</div>

</div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">Information</div>
        <div class="panel-body">User ID: {{ user_info['user_id'] }}</div>
        <div class="panel-body">User name: {{ user_info['name'] }}</div>
        <div class="panel-body">Phone: {{ user_info['phone'] }}</div>
        <div class="panel-body">Access: {{ user_info['access'] }}</div>
        <div class="panel-body">Registered since: {{ user_info['post_date'] }}</div>

        <div class="containerin">

    <!-- Trigger/Open The Modal -->
    <input class="myBtn_multi" id="myBtn_Info" type="submit" value="Change my profile" />

    <!-- The Modal -->
    <div id="myModal_Info" class="modal modal_multi">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close close_multi">&times;</span>
        <div class="formwrapper" align="left">

              <form method="POST" action="">
                  <div class="form-field">{{ form_info.name.label }} {{ form_info.name }}
                    {% if form_info.name.errors %}
                      <ul class="errors">
                        {% for error in form_info.name.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                  <div class="form-field">{{ form_info.phone.label }} {{ form_info.phone }}
                    {% if form_info.phone.errors %}
                      <ul class="errors">
                        {% for error in form_info.phone.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                {{ form_info.submitInfo }}
              </form>
        </div>

    </div>

</div>

</div>

<div class="containerin">
<!-- Trigger/Open The Modal -->
<input class="myBtn_multi" id="myBtn_Password" type="submit" value="Change my password" />

<!-- The Modal -->
<div id="myModal_Password" class="modal modal_multi">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close close_multi">&times;</span>

<div class="formwrapper" align="left">

  <form method="POST" action="">
      <div class="form-field">{{ form_passwd.passwordOld.label }} {{ form_passwd.passwordOld }}
        {% if form_passwd.passwordOld.errors %}
          <ul class="errors">
            {% for error in form_passwd.passwordOld.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form_passwd.password.label }} {{ form_passwd.password }}
        {% if form_passwd.password.errors %}
          <ul class="errors">
            {% for error in form_passwd.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form_passwd.confirmPassword.label }} {{ form_passwd.confirmPassword }}
        {% if form_passwd.confirmPassword.errors %}
          <ul class="errors">
            {% for error in form_passwd.confirmPassword.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {{ form_passwd.submitPassword }}
  </form>
    </div>

  </div>

</div>

</div>

      </div>


  </div>
</div>

{% else %}
<div>
  <h3 class="title">Would you like to <a href="{{ url_for('signin') }}">sign in</a>?</h3>
</div>
{% endif %}



<script>
try {
document.getElementById('phone').addEventListener('input', function (e) {
  var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
  e.target.value = !x[2] ? x[1] : x[1] + '-' + x[2] + (x[3] ? '-' + x[3] : '');
});
        } catch(err) {
          console.log(err.message + ' for element phone');
        }
</script>


<script>
    // Get the modal

    var modalparent = document.getElementsByClassName("modal_multi");

    // Get the button that opens the modal

    var modal_btn_multi = document.getElementsByClassName("myBtn_multi");

    // Get the span element that closes the modal
    var span_close_multi = document.getElementsByClassName("close_multi");

    // When the user clicks the button, open the modal
    function setDataIndex() {

        for (i = 0; i < modal_btn_multi.length; i++)
        {
            modal_btn_multi[i].setAttribute('data-index', i);
            modalparent[i].setAttribute('data-index', i);
            span_close_multi[i].setAttribute('data-index', i);
        }
    }



    for (i = 0; i < modal_btn_multi.length; i++)
    {
        modal_btn_multi[i].onclick = function() {
            var ElementIndex = this.getAttribute('data-index');
            modalparent[ElementIndex].style.display = "block";
        };

        // When the user clicks on span (x), close the modal
        span_close_multi[i].onclick = function() {
            var ElementIndex = this.getAttribute('data-index');
            modalparent[ElementIndex].style.display = "none";
        };

    }

    window.onload = function() {

        setDataIndex();
    };

    window.onclick = function(event) {
        if (event.target === modalparent[event.target.getAttribute('data-index')]) {
            modalparent[event.target.getAttribute('data-index')].style.display = "none";
        }


    };




</script>


{% endblock %}
